/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Podkova:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit";
}

body{
  background: url(https://i.pinimg.com/1200x/05/7a/65/057a654727c8ef33e0864c97a23a6443.jpg);
  @apply bg-cover bg-center;
}

.prata{
  font-family: 'Podkova';
}

::-webkit-scrollbar {
  display: none;
}

.home-hero {
  perspective: 200px;
}

.home-hero-back-top-text {
  @apply text-[120px] md:text-[200px] font-[900] text-transparent absolute -z-10   top-0 md:-top-10 text-nowrap bg-cover bg-center;
  background-image: url(https://i.pinimg.com/1200x/30/4b/eb/304beb16a3361477b10bcf1f2ec04606.jpg);
  -webkit-background-clip: text;
  transform: rotateX(5deg);
}
.home-hero-back-btm-text {
  @apply text-[120px] md:text-[200px] font-[900] text-transparent absolute -z-10   bottom-0 md:bottom-0 text-nowrap  bg-cover bg-center;
  background-image: url(https://i.pinimg.com/1200x/30/4b/eb/304beb16a3361477b10bcf1f2ec04606.jpg);
  -webkit-background-clip: text;
  transform: rotateX(5deg);
}
